<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
  <!-- Exercise 1: Sets name of restaurant as the heading and adds address, phone, and open/close message based on the isOpen boolean all derived from the locals object -->
  <h1><%= restaurant.name %></h1>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone %></p>
  <% if (restaurant.isOpen) { %>
    <p>Yes we are open!</p>
  <% } else { %>
    <p>Sorry, we are closed.</p>
  <% } %>
</body>
</html>
